.container {
  width: 300px;
  background-color: bisque;
  margin: 100px;
  overflow: hidden;
  .tabWrap {
    display: flex;
    border: 10px solid red;
    .tabItem {
      display: inline-block;
      width: 100px;
      border: 1px solid blue;
      flex-shrink: 0;
    }
  }
}